<div class="container form-content">

    <table class="table table-striped table-bordered table-hover">
        <th>User Id</th>
        <th>Title</th>
        <th>Date</th>
        {{#each boards}}
        <tr>
            <td>{{userId}}</td>
            <td><a class="text-dark"href="#">{{boardTitle}}</a></td>
            <td>blank</td>
        </tr>
        {{/each}}   
    </table>
</div>
<div>
    <a class="btn site-btn1 px-4 py-3 mr-4 btn-dark" href="./create">Create</a>
</div>