<div class="form-content">
    <form class="ml-3" action="/board/create_prog" method="post">
        <div class="form-group col-6">
            <label class="form-lable" for="boardTitle">
                Title <span for="userId",name="userId" style="text-align:right">Writer: {{sess.user.userId}}</span>
            </label>
            <input type="hidden", name="userId", value="{{sess.user.userId}}">
            <input class="form-control" name="boardTitle" type="text" placeholder="title">
        </div>
        <div class="form-group col-6">
            <lable class="form-lable" for="content">Content</lable>
            <textarea class="form-control" name="content" rows="10" placeholder="content"></textarea>
        </div>
        <div class="d-flex flex-row">
                <input class="btn site-btn1 px-4 py-3 mr-4 btn-dark" type="submit">
                <a class="btn site-btn2 px-4 py-3 mr-4 btn-light" href="../">Cancel</a>
        </div>

    </form>
</div>