<main>
    <div class="container-fluid">
        <div class="site-content">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <h1 class="site-title">Sunjae Lee Board</h1>
                    <p class="site-desc"> If you are going to use a passage of Lorem Ipsum, you need to be sure there
                        isn't anything embarrassing hidden in the middle of text. </p>
                    <div class="d-flex flex-row">
                        <input href="./account/reg" style="float:right" type="button" value="Register" class="btn site-btn1 px-4 py-3 mr-4 btn-dark">
                        <input href="./account/login" type="button" value="Sign in" class="btn site-btn2 px-4 py-3 mr-4 btn-light">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>